In [ ]:
import pandas as pd
import numpy as np
import matplot.lib as plt

In [3]:
dataset = pd.read_csv("AmesHousing_1.txt",sep = "\t")

In [5]:
dataset

,Order,PID,MS SubClass,MS Zoning,Lot Frontage,Lot Area,Street,Alley,Lot Shape,Land Contour,...,Pool Area,Pool QC,Fence,Misc Feature,Misc Val,Mo Sold,Yr Sold,Sale Type,Sale Condition,SalePrice
0,1,526301100,20,RL,141.0,131770,Pave,NaN,IR1,Lvl,...,0,NaN,NaN,NaN,0,5,2010,WD,Normal,215000
1,2,526350040,20,RH,80.0,11622,Pave,NaN,Reg,Lvl,...,0,NaN,MnPrv,NaN,0,6,2010,WD,Normal,105000
2,3,526351010,20,RL,81.0,14267,Pave,NaN,IR1,Lvl,...,0,NaN,NaN,Gar2,12500,6,2010,WD,Normal,172000
3,4,526353030,20,RL,93.0,11160,Pave,NaN,Reg,Lvl,...,0,NaN,NaN,NaN,0,4,2010,WD,Normal,244000
4,5,527105010,60,RL,74.0,13830,Pave,NaN,IR1,Lvl,...,0,NaN,MnPrv,NaN,0,3,2010,WD,Normal,189900
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2925,2926,923275080,80,RL,37.0,7937,Pave,NaN,IR1,Lvl,...,0,NaN,GdPrv,NaN,0,3,2006,WD,Normal,142500
2926,2927,923276100,20,RL,NaN,8885,Pave,NaN,IR1,Low,...,0,NaN,MnPrv,NaN,0,6,2006,WD,Normal,131000
2927,2928,923400125,85,RL,62.0,10441,Pave,NaN,Reg,Lvl,...,0,NaN,MnPrv,Shed,700,7,2006,WD,Normal,132000
2928,2929,924100070,20,RL,77.0,10010,Pave,NaN,Reg,Lvl,...,0,NaN,NaN,NaN,0,4,2006,WD,Normal,170000
2929,2930,924151050,60,RL,74.0,9627,Pave,NaN,Reg,Lvl,...,0,NaN,NaN,NaN,0,11,2006,WD,Normal,188000

In [7]:
def Range(col):
    max_ = col.max()
    min_ = col.min()
    range_ = max_ - min_
    return range_

In [8]:
Range(dataset["SalePrice"])

742211

In [10]:
dataset["Yr Sold"].unique()

array([2010, 2009, 2008, 2007, 2006], dtype=int64)

# The Variance

In [16]:
def variance(array):
    mean_ = sum(array)/len(array)
    dists_ = []
    for element in array:
    # (mean absolute deviation)**2 = Variance
        dist_ = (element-mean_)**2
        dists_.append(dist_)
    return sum(dists_)/len(dists_)

In [17]:
c = [1,2,3,4,6,21]

In [18]:
variance(c)

46.47222222222222

# Standard Deviation

In [27]:
def std_dev(arr):
    mean = np.mean(arr)
    dist_ = []
    for i in arr:
        dist_.append((i-mean)**2)
    average_dist = (np.average(dist_))**(1/2)
    return average_dist

In [30]:
std_dev(c)

6.8170537787391865

parameter -> study from population 

statistics -> study from sample

# Bessel's Correction

In [31]:
def std_dev_sample(arr):
    mean = np.mean(arr)
    dist_ = []
    for i in arr:
        dist_.append((i-mean)**2)
    average_dist = sum(dist_)/len(dist_-1) # For Sample we minus 1 from length
    return average_dist

# Z-Score
The value representing the no. of StdDev away from the mean is commonly know as std-score or z-score

reScaling

In [32]:
def z_score(value,series,bessel = 0):
    std = series.std(ddof = bessel)
    mean = series.mean()
    z = (value -mean)/std
    return z

#    Fandango mai krna hai yeh hrkt .

# x---------------------------------------------------------x

### correlation nikalny k lia co-relation nikalty hain.

### - positive co-relation (2 co-variance sath sath brh rhy hain)->|->
### - negative co-relation (2 co-variance diff direction mai brh rhy hain)<-|->

#### co-relation -> bnda brh raha cycle bhi brh rhi.
#### regression -> bnda cycle pr bhet jyega.


co-relation hidden cause and fact pr depend nhi krta